<div class="method sidebox item{{#if access}} {{access}}{{/if}}">
    <a name="methods_{{name}}"></a>
    {{#if final}}
        <code>final</code>
    {{/if}}

    <div class="className clearfix">
        {{#if access}}
            <small class="methodScope access">`{{access}}`</small>
        {{/if}}

        {{! if you want to use it, remove comment blocks }}
        {{!--
            {{#if returnType}}
                <small class="methodScope returnType"><code>{{#crossLink returnType}}{{/crossLink}}</code></small>
            {{/if}}
        --}}

        <strong class="name">`{{name}}`</strong>( `{{paramsList}} ` )

        <div class="foundat">
            {{#if overwritten_from}}
                Defined in <a href="{{overwritten_from/class}}.html#method_{{overwritten_from/name}}">{{overwritten_from/class}}</a> but overwritten locally:
            {{else}}
                {{#if extended_from}} Defined in <a href="{{extended_from}}.html#method_{{name}}">{{extended_from}}</a>: {{/if}}
            {{/if}}
            <a class="methodLink" href="{{foundAt}}">`{{file}}:{{line}}`</a>
        </div>
    </div>

    {{#if methodDescription}}
    <h4 class="methodChapter">Description</h4>
    <div class="methodDescription">
        {{{methodDescription}}}
    </div>
    {{/if}}

    {{#if params}}
        <h4 class="methodChapter">Parameters</h4>
        <table class="methodParameter">
        {{#params}}
            <tr>
                <td>
                    <code>&lt;{{#crossLink type}}{{/crossLink}}&gt;</code>
                    {{#if multiple}}
                        <abbr title="Denotes that this argument can contain (n) number">(*..n)</abbr>
                    {{/if}}
                </td>
                <td>
                    {{#if optional}}
                        `[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]`
                    {{else}}
                        `{{name}}`
                    {{/if}}
                </td>
                <td>
                    {{{description}}}

                    {{#if props}}
                        <ul>
                        {{#props}}
                            <li>`{{name}}` <strong><code>&lt;{{#crossLink type}}{{/crossLink}}&gt;</code></strong> {{{description}}}
                            {{#if props}}
                                <ul>
                                    {{#props}}
                                        <li>`{{name}}` <strong><code>&lt;{{#crossLink type}}{{/crossLink}}&gt;</code></strong> {{{description}}} </li>
                                    {{/props}}
                                </ul>
                            {{/if}}
                            </li>
                        {{/props}}
                        </ul>
                    {{/if}}
                </td>
            </tr>
        {{/params}}
        </table>
    {{/if}}

    {{#if return}}
        <h4 class="methodChapter">Returns</h4>
        <table class="returns methodParameter">
            {{#return}}
                <tr>
                    <td>
                        {{#if type}}
                            <code>&lt;{{#crossLink type}}{{/crossLink}}&gt;</code>
                        {{/if}}
                    </td>
                    <td>{{{description}}}</td>
                </tr>
            {{/return}}
        </table>
    {{/if}}

    {{#if example}}
        <h4 class="methodChapter">Example</h4>
        {{{example}}}
    {{/if}}
</div>
